.close {
    background-image: url(http://smarttv.xtream.cloud/img/keyboard/backspace.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 22px;
}

.shift {
    background-image: url(http://smarttv.xtream.cloud/img/keyboard/shift.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 28px;
}

.space {
    width: 858px !important;
}

.width {
    width: 185px !important;
}

.absolute-box {
    position: absolute;
    background: #161616;
    bottom: 0;
    left: 17%;
}

.keyboard-box {
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: 354px;
    justify-content: space-between;
    padding: 5px 0;
}

.keyboard-rows-box {

display: flex;

width: 100%;

height: 80px;

color: white;

font-size: 35px;

justify-content: space-between;
}

.keyboard-rows-item-box {

    border-radius: 10px;
    
width: 90px;
    
height: 100%;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
background-color: rgb(32, 32, 32);
    
font-family: sans-serif;
}