* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-image: url(https://api.xtream.cloud/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-box {
    width: 86px;
    height: 82px;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.back-box>span {
    font-size: 60px;
}

.active-border {
    border: 3px solid #2e844e !important;
}

.active-background {
    background-color: #2e844e !important;
}

.scale {
     transform: scale(1.05); 
}

.search-button-box {
    width: 346px;
    height: 83px;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
}

.search-button-box>span {

font-size: 50px;
}

.search-text {font-size: 35px;margin-left: 15px;}