.lock-categories-page-box {height: 100vh;display: flex;display: -webkit-flex;padding: 20px;flex-direction: column;}

.lock-categories-header-box {display: flex;display: -webkit-flex;align-items: center;}

.lock-categories-back-box {
    height: 73px;
    width: 73px;
    border-radius: 20px;
    background: #1E1F20;
}

.lock-categories-back-name-box {margin-left: 8px;width: 663px;height: 72px;color: white;font-family: sans-serif;display: flex;display: -webkit-flex;background: #1E1F20;border-radius: 20px;font-size: 28px;align-items: center;padding-left: 30px;}

.lock-categories-content-box {display: flex;display: -webkit-flex;height: 350px;/* width: 91%; */justify-content: space-between;margin-top: 80px;}

.lock-settings-categories-box {width: 425px;height: 100%;margin-left: 120px;display: flex;display: -webkit-flex;flex-direction: column;align-items: center;}

.lock-settings-categories-box:nth-child(1) {
    margin-left: 0px;
}

.lock-settings-categories-title-box {width: 100%;/* height: 95px !important; */color: white;font-family: sans-serif;font-size: 22px;display: flex;display: -webkit-flex;align-items: center;}

.lock-settings-categories-content-box {width: 100%;height: 100%;margin-top: 26px;overflow: hidden;}

.lock-settings-categories-content-cards-box {
    transition: 0.4s;
    height: 9999999999999999999999px;
    width: 100%;
}

.lock-categories-card-box {width: 100%;height: 82px;display: flex;display: -webkit-flex;align-items: center;border: 3px solid transparent;color: white;background-color: rgb(32, 32, 32);margin-top: 26px;border-radius: 10px;/* padding-left: 30px; */position: relative;display: flex;justify-content: center;}

.lock-categories-card-box:nth-child(1) {
    margin-top: 0px;
}

.lock-categories-card-name-box {
    font-size: 21px;
    font-family: sans-serif;
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lock-categoreis-card-locked-box {
    position: absolute;
    left: 20px;
    top: 25px;
}

.lock-categoreis-card-locked-box>span {
    font-size: 40px;
}

.active-image {
    background-image: url(http://smarttv.xtream.cloud/img/icons/padlock.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 375px;
}