.settings-card-box.checked .settings-card-checked-point-box{
    transform: translateX(30px);
}

.settings-card-box.checked .settings-card-checked-box{
    background: linear-gradient(105.8deg, #39B32A 14.07%, #3A8D4B 100%) !important;
}

.settings-page-box {

display: flex;

display: -webkit-flex;

justify-content: center;

height: 100vh;
}

.settings-page-content-box {

width: 762px;

height: 871px;

position: relative;

top: 125px;
}

.settings-back-and-title-box {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 747px;
    border-radius: 20px;
    height: 72px;
    background: rgba(30, 31, 32, 0.45);
    display: -webkit-flex;
    align-items: center;
}

.settings-back-box {
    width: 50px;
    height: 50px;
    margin-left: 32px;
    border-radius: 50%;
}

.settings-page-title {color: white;margin-left: 19px;font-size: 40px;font-family: sans-serif;}

.settings-card-box {width: 694px;height: 89px;margin-top: 16px;background: rgba(30, 31, 32, 0.45);border-radius: 12px;color: white;font-family: sans-serif;display: flex;display: -webkit-flex;align-items: center;padding: 0px 20px;}

.settings-card-img-box {background-repeat: no-repeat;width: 30px;height: 30px;background-size: contain;}

.settings-card-name-box {font-size: 24px;margin-left: 30px;font-weight: 700;}

.settings-card-checked-box {width: 79px;height: 42px;border-radius: 30px;position: absolute;right: 100px;display: flex;background: #4B4B4B;display: -webkit-flex;align-items: center;}

.settings-card-checked-point-box {height: 32px;width: 32px;background-color: white;border-radius: 50%;margin-left: 6px;transition: 0.3s;}

.log-out-popup-box {

position: fixed;

top: 0;

width: 1920px;

height: 258px;

background-color: rgb(32, 32, 32) !important;

display: flex;

display: -webkit-flex;

justify-content: center;

align-items: center;
}

.log-out-popup-content-box {

height: 200px;

color: white;

font-family: sans-serif;

display: flex;

display: -webkit-flex;

flex-direction: column;

align-items: center;
}

.log-out-popup-content-title-box {

font-size: 43px;
}

.log-out-popup-content-buttons-box {

display: flex;

display: -webkit-flex;

align-items: center;
}

.content-buttons-button-box {
    
width: 273px;
    
height: 68px;
    
margin: 40px;
    
display: flex;
    
display: -webkit-flex;
    
align-items: center;
    
justify-content: center;
    
font-size: 33px;

border-radius: 5px;
}

.exit-background {
    background-color: rgb(29 30 33 / 50%);
    opacity: 0.6;
}

.lock-categories-loading-box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
}