.movies-card-info-page {height: 100vh;padding: 25px 80px;position: relative;}

.gradient-box {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(92.79deg, #202020 50.94%, rgba(32, 32, 32, 0) 96.06%);
    width: 1000px;
    height: 100vh;
}

.movies-card-info-page::before {
    content: "";
    background: var(--background);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.selectid-sezon {
    background: linear-gradient(90deg, #3EFF0E 0%, rgba(62, 255, 14, 0) 104.41%) !important;
}

.movies-card-info-loading-box {height: 100vh;display: flex;flex-direction: column;align-items: center;justify-content: center;}

.info-loading-box {width: 80px;height: 80px;}

.info-loading-text-box {color: white;font-family: sans-serif;font-size: 40px;position: relative;top: 8%;}

.movies-card-info-not-found {
    position: absolute;
    top: 50%;
    left: 43%;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.card-info-box {
    position: relative;
    z-index: 999;
}

.card-info-name-and-rating-box {display: flex;display: -webkit-flex;align-items: center;}

.card-info-name-box {color: white;font-size: 34px;font-family: sans-serif;}

.card-info-stars-box {margin-left: 50px;display: flex;}

.card-info-star {margin-left: 9px;width: 20px;height: 20px;}

.card-info-description-box {margin-top: 20px;}

.card-info-description {
    color: white;
    font-family: sans-serif;
    width: 849px;
    font-size: 22px;
    height: 165px;
    overflow: hidden;
    font-style: normal;
    line-height: 33px;
    font-weight: 400;
}

.card-info-directed-and-duration-box {margin-top: 48px;}

.card-info-directed-box {font-style: normal;font-weight: 700;font-size: 22px;line-height: 33px;color: white;font-family: sans-serif;letter-spacing: 1px;}

.card-info-duration-box {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.card-info-buttons-box {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.card-info-button {
    width: 189px;
    height: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
    background: rgba(249, 249, 249, 0.2);
    border-radius: 15px;
    border: 1px solid transparent;
    margin-left: 31px;
}

.card-info-button:nth-child(1) {
    margin-left: 0px;
}

.info-card-bottom-content {position: absolute;z-index: 11;bottom: 2%;width: 1760px;}

.bottom-similiar-content {height: 360px;overflow: hidden;}

.similiar-content-name {font-size: 30px;color: white;font-family: sans-serif;}

.similiar-content-list-box {
    width: 1720px;
    overflow: hidden;
    margin-top: 22px;
}

.similiar-content-list-content-box {
    position: relative;
    width: 9999999999999999999999999999999999999px;
    height: 360px;
    transition: 0.3s linear;
}

.season-content-parent-box {margin-top: 52px;position: relative;z-index: 14;width: 409px;}

.season-content-title-box {width: 409px;height: 89px;color: white;font-size: 24px;font-family: sans-serif;cursor: pointer;background: rgba(30, 31, 32, 0.45);backdrop-filter: blur(37px);border: 3px solid;background: linear-gradient(0deg, rgb(29 30 31 / 45%), rgb(53 54 56 / 45%)), linear-gradient(118.06deg, rgb(127 124 124 / 40%) 14.72%, rgba(255, 255, 255, 0) 93.25%);padding-top: 28px;padding-bottom: 25px;padding-left: 62px;padding-right: 36px;border-radius: 12px;}

.season-list-box {height: 96px;overflow: hidden;border: 3px solid transparent;transition: 0.3s;border-radius: 12px;position: relative;width: 948px;font-weight: 700;}

.season-list-content-box {border-radius: 12px;transition: 0.3s;display: flex;height: auto;width: 999999999999999999999999999999px;}

.season-card-box {
    width: 214px;
    border-radius: 12px;
    margin-left: 23px;
    height: 89px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    padding-left: 62px;
    padding-right: 36px;
    padding-top: 29px;
    padding-bottom: 9px;
    cursor: pointer;
    background: linear-gradient(0deg, rgb(29 30 31 / 45%), rgb(53 54 56 / 45%)), linear-gradient(118.06deg, rgb(127 124 124 / 40%) 14.72%, rgba(255, 255, 255, 0) 93.25%);
    border: 3px solid transparent;
}

.season-card-box:nth-child(1) {
    margin-left: 0px;
}

.bottom-episodes-content {color: white;font-family: sans-serif;}

.episodes-content-name {font-size: 32px;}

.episodes-list-box {margin-top: 22px;width: 100%;overflow: hidden;}

.episodes-list-content-box {display: flex;position: relative;width: 999999999999999999999999px;height: 305px;transition: 0.4s linear;}

.episode-card-box {
    height: 298px;
    width: 486px;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-color: #373434;
    border: 3px solid transparent;
}

.episode-card-info-box {margin-top: 200px;width: 440px;margin-left: 20px;}

.episode-card-info-number {font-size: 22px;font-weight: 800;}

.episode-card-info-name {font-size: 20px;color: rgba(249, 249, 249, 0.7);height: 23px;overflow: hidden;}

.episode-card-info-progres-box {width: 100%;height: 3px;background-color: white;margin-top: 15px;}

.episode-card-info-progres-line-box {
    height: 3px;
    background-color: #3EFF0E;
    width: 0;
}
