.menu-page-box {
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}


.menu-card-box.active-border .menu-card-poster-box {
    background: #2EA310;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(62, 255, 14, 0.6);
}

.menu-logo-box {

    width: 230px;

    height: 230px;

    position: absolute;

    top: 60px;
}

.menu-cards-parent-box {display: flex;height: 400px;width: 1920px;justify-content: center;align-items: center;}

.menu-card-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    margin-left: 30px;
    width: 390px;
    height: 390px;
    transition: 0.3s linear;
    border-radius: 50%;
}

.menu-card-poster-box {height: 156px;background: linear-gradient(180deg, #4D4F52 -16.35%, #46484A 100%);border-radius: 200px;width: 155px;display: flex;display: -webkit-flex;justify-content: center;align-items: center;}

.menu-card-box:nth-child(3)>.menu-card-poster-box {width: 155px;width: 156px;border-radius: 200px;}

.menu-card-poster {width: 87.46px;height: 87.5px;}

.menu-card-name {

    font-weight: 700;

    color: white;

    font-size: 34px;

    font-family: sans-serif;

    position: relative;

    bottom: -20px;
}