.keyboard-absolute-box {
    position: absolute;
    bottom: 20px;
    left: 17%;
    width: 1250px;
}

.movies-series-search-page {

height: 100vh;

background-size: cover;

background-repeat: no-repeat;

padding: 20px;
}

.search-page-content-box {display: flex;justify-content: center;align-items: center;margin-top: 40px;}

.search-page-back-box {
    width: 73px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    height: 73px;
}

.search-page-content-back-box {justify-content: space-between;display: flex;flex-direction: row-reverse;color: white;font-size: 45px;margin: 0 20px;font-family: sans-serif;align-items: center;}

.search-page-content-search-input {

font-size: 32px;

color: white;

background-color: transparent;

border: 0;

margin-left: 20px;

width: 800px;
}

.search-system-box {
    width: 1620px;
    height: 72px;
    margin: 0 20px;
}

.search-page-content-search-box {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
}

.search-page-content-search-box>span {

color: white;

font-size: 45px;

margin-left: 20px;
}

.search-list-box {
    width: 1800px;
    position: absolute;
    top: 25%;
    overflow: hidden;
    left: 65px;
}

.search-list-content-box {
    transition: 0.2s linear;
    width: 99999999999999999999999999999999999px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
    height: 310px;
}

.films-searching-load-box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
}