.view-more-page-box {

    height: 100vh;
    
    padding: 20px 40px;
    }
    
    .view-more-header-box {
    
    display: flex;
    
    display: -webkit-flex;
    
    flex-direction: column;
    
    justify-content: center;
    }
    
    .view-more-header-back-and-search-box {
    
    display: flex;
    
    display: -webkit-flex;
    
    align-items: center;
    }
    
    .view-more-back-box {
    
width: 70px;
    
height: 70px;
    
background-color: rgba(255, 255, 255,0.1);
    
border-radius: 20px;
    }
    
    .view-more-category-name-box {
        
margin-top: 70px;
        
color: white;
        
font-size: 35px;
        
font-family: sans-serif;
    }

.view-more-movies-box {

margin-top: 70px;

height: 660px;

overflow: hidden;
}   

.view-more-movies-content-box {
    height: 1e+29px;
    position: relative;
    transition: 0.1s;
}

.view-more-keyboard {
    position: fixed;
    left: 15%;
    transition: 0.3s;
    transform: translateY(140px);
    width: 1340px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    background: #0B0A0A;
    height: 395px;
    align-items: center;
    border: 3px solid green;
    border-radius: 20px;
    z-index: 999999;
}

.view-more-keyboard-content {
    width: 1250px;
}

.view-more-input-box {
    margin-left: 70px;
    height: 80px;
    border-radius: 20px;
    border: 3px solid transparent;
    width: 900px;
}

.keyboard-translate {
    transform: translateY(-265px) !important;
}

.view-more-movies-lists-box {
    position: absolute;
    width: 100%;
}

.view-more-movies-lists-content-box {
    position: relative;
    
    height: 304px;
}